/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ceb4cc; /* Fondo suave */
    color: #333;
}

/* Barra de navegación */
.navbar {
    background-color: #af70c9; /* Rosa pastel para la barra de navegación */
    border-bottom: 3px solid #a36eb1; /* Rosa más fuerte para resaltar */
}

.navbar-brand {
    font-weight: bold;
    color: #fff !important;
    font-size: 24px;
}

.nav-link {
    color: #fff !important;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #d02fdf; /* Cambio de color al pasar el ratón */
    border-radius: 5px;
}

/* Estilos para el contenido */
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Títulos */
h1, h2, h3, h4  h5{
    color: #aa6ee2;
    font-family: 'Georgia', serif;
    font-weight: bold;
}

/* Alertas de sesión */
.alert {
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

/* Alerta de error */
.alert-danger {
    background-color: #f1c2f1;
    color: #721c24;
}

/* Alerta de éxito */
.alert-success {
    background-color: #d4edda;
    color: #155724;
}

/* Estilo para los botones */
.btn {
    background-color: #ccbef1;
    color: #3f3d3d;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b594b6;
    color: #fff;
}

/* Enlace a Vacantes */
.navbar-nav .nav-item {
    background-color: #a24eb3; /* Fondo cuando se hace clic */
    border-radius: 5px;
    margin: 0 10px; /* Agrega espacio horizontal entre los botones */
}

.navbar-nav .nav-item .nav-link {
    padding: 10px 20px; /* Ajusta el padding de los enlaces dentro de los botones */
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #ff77a9; /* Cambio de color al pasar el ratón */
    border-radius: 5px;
}

